@model List<ResultBlogDto>

@{
    ViewData["Title"] = "Blogs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@{
	int count = 0;
}

<table class="table table-hover">
	<tr>
		<th>#</th>
		<th>Image</th>
		<th>Title</th>
		<th>Date</th>
		<th>Category</th>
		<th></th>
	</tr>
	@foreach (var item in Model)
	{
		count++;
		<tr>
			<th>@count</th>
			<td>
				<img src="@item.ImageUrl" style="height:75px; width:75px" />
			</td>
			<td>
				@item.Title
			</td>
			<td>
				@item.BlogDate.ToShortDateString()
			</td>
			<td>
				@item.BlogCategory.Name
			</td>

			<td>
				<button onclick="deleteBlog(@item.BlogId)" class="btn btn-outline-danger">Remove</button>


				<a asp-action="UpdateBlog" asp-controller="Blog" asp-area="Admin" asp-route-id="@item.BlogId" class="btn btn-outline-info">
					Update
				</a>

			</td>
		</tr>

	}


</table>
<br />


<a asp-action="CreateBlog" asp-controller="Blog" asp-area="Admin" class="btn btn-outline-primary float-end"> Create Blog Category</a>

<script>

	function deleteBlog(id){


		Swal.fire({
	  title: "Are you sure?",
	  text: "You won't be able to revert this!",
	  icon: "warning",
	  showCancelButton: true,
	  confirmButtonColor: "#3085d6",
	  cancelButtonColor: "#d33",
	  confirmButtonText: "Yes, delete it!"
	}).then((result) => {
	  if (result.isConfirmed) {
		window.location.href = "/Admin/Blog/DeleteBlog/" + id;
	  }
	});
	}
</script>