@model List<ResultSocialMediaDto>
@{
	ViewData["Title"] = "Socials";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@{
	int count = 0;
}

<table class="table table-hover">
	<tr>
		<th>#</th>
		<th>Social</th>
		<th></th>
	</tr>
	@foreach (var item in Model)
	{
		count++;
		<tr>
			<th>@count</th>
			<td>
				<i class="@item.Icon fa-2x" />  <a href="@item.Url" target="_blank"> @item.Title </a>
			</td>
			
			<td>
				<button onclick="deleteSocialMedia(@item.SocialMediaId)" class="btn btn-outline-danger">Remove</button>

				<a asp-action="UpdateSocialMedia" asp-controller="SocialMedia" asp-area="Admin" asp-route-id="@item.SocialMediaId" class="btn btn-outline-info">
					Update
				</a>

			</td>
		</tr>

	}


</table>
<br />


<a asp-action="CreateSocialMedia" asp-controller="SocialMedia" asp-area="Admin" class="btn btn-outline-primary float-end"> Add Social Media Link</a>

<script>

	function deleteSocialMedia(id){


		Swal.fire({
	  title: "Are you sure?",
	  text: "You won't be able to revert this!",
	  icon: "warning",
	  showCancelButton: true,
	  confirmButtonColor: "#3085d6",
	  cancelButtonColor: "#d33",
	  confirmButtonText: "Yes, delete it!"
	}).then((result) => {
	  if (result.isConfirmed) {
		window.location.href = "/Admin/SocialMedia/DeleteSocialMedia/" + id;
	  }
	});
	}
</script>



