@model List<ResultCourseDto>
@{
    ViewData["Title"] = "My Courses";
    Layout = "~/Areas/Teacher/Views/TeacherLayout/Index.cshtml";
}


@{
	int count = 0;
}

<table class="table table-hover">
	<tr>
		<th>#</th>
		<th>Image Url</th>
		<th>Course Name</th>
		<th>Price</th>
		<th>Course Category Name</th>
		<th></th>
	</tr>
	@foreach (var item in Model)
	{
		count++;
		<tr>
			<th>@count</th>
			<td>
				<img src="@item.ImageUrl" style="height:75px; width:75px" />
			</td>
			<td>
				@item.CourseName
			</td>
			<td>
				@item.Price
			</td>
			<td>
				@item.CourseCategoryId
			</td>
		
			<td>
				<button onclick="deleteTeacherCourse(@item.CourseId)" class="btn btn-outline-danger">Remove</button>


				<a asp-action="UpdateCourse" asp-controller="MyCourse" asp-area="Teacher" asp-route-id="@item.CourseId" class="btn btn-outline-info">
					Update
				</a>

			</td>
			
		</tr>

	}


</table>
<br />


<a asp-action="CreateCourse" asp-controller="MyCourse" asp-area="Teacher" class="btn btn-outline-primary float-end"> Create Course </a>

<script>

	function deleteTeacherCourse(id){


		Swal.fire({
	  title: "Are you sure?",
	  text: "You won't be able to revert this!",
	  icon: "warning",
	  showCancelButton: true,
	  confirmButtonColor: "#3085d6",
	  cancelButtonColor: "#d33",
	  confirmButtonText: "Yes, delete it!"
	}).then((result) => {
	  if (result.isConfirmed) {
		window.location.href = "/Teacher/MyCourse/DeleteCourse/" + id;
	  }
	});
	}
</script>